/*

    Green: #00b29e; green
    Tan:   #f3f1dc; background color
    Brown: #B1A77C; dark background accent
    Brown: #d8d4af; light background accent

 */


.reveal h1, .reveal h2, .reveal h3, .reveal h4 { color: black; text-transform: none; }


.reveal h1 {
    -webkit-box-shadow: none;
    text-shadow: none;
}

.reveal section img { border: none; -webkit-box-shadow: none; }

.reveal a:not(.image) {
    color: rgb(0,178,158);
    text-decoration: none;
}

.reveal li#fragment { color: black;  }

::selection { color: black; }

body { color: black;}

.reveal .slides section li {
    font-size: 40px;
    line-height: 1.6;
    color: black;
}

.reveal .slides section .smaller li {
    font-size: 36px;
    
}

.reveal .slides section.faded-fragments .fragment {
    color: #999;
/*  opacity: 0.5; */
}

.reveal .slides section.faded-fragments .fragment.visible {
    color: black;
    opacity: 1;
}

.reveal a:hover {
    color: #00B29E;
    text-decoration: underline;
}

.reveal .slides section .fragment.start-visible {
    opacity: 1;
}

.reveal ul.presentation-7 li {
    font-size: 37px;
    line-height: 57px;
}

.reveal ul.presentation-7 li img {
    margin-top: 0px;
}

.reveal h2.marq {
    color: #00b29e;
}

.reveal pre {
    font-size: 0.65em;
}

pre code {
    width: 1000px;
    margin-left: -100px;
}

.blank {
    text-decoration: underline;
}


#defaultCountdown { display: inline; }

#defaultCountdown br { display: none; }

.countdown_amount, .countdown_section { margin-right: 10px; }


.sponsors-list {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

    .reveal section .sponsors-list img {
        margin: 50px 0 0 0;
    }

/* @end */

/*********************************************
 * DOUBLE EDITOR
 *********************************************/

.reveal pre.double-editor {
    float: left;
    width: 48%;
    margin-right: 2%;
 }

 .reveal .double-editor code {
    width: 96%;
    margin-left: 0;
    font-size: 20px;
 }

 .reveal .double-editor.wide code {
    padding: 20px;
 }


 /*********************************************
 * SLIDE-SPECIFIC CSS
 *********************************************/

/* CSS Box Model */

.box-model {
    padding: 40px;
    margin: 20px;
    border: 5px solid #B9B480;
    width: 600px;
    position: relative;
    background-color:  #D8D4AF;
    
}

    p.box-model {
         font: normal 28px/44px Georgia, "Times New Roman", Times, serif;     
    }

    .box-model br {
        display: block;
    }

    .box-model-container {
        width: 740px;
        margin: 0px auto 20px auto;
        padding-top: 20px;
    }

.div-example {

}

.plain {

}

    .plain h3 {
        font-family: 'Lato', Times, 'Times New Roman', serif;
        text-shadow: none;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .plain p {
        font-size: 20px;
        text-align: left;
        line-height: 1.4;
    }

    .reveal section .plain img {
        margin: 0;
    }

.left-column {
    width: 560px;
    float: left;
}

.right-example {
    margin: 0px 0 0 30px;
    float: left;
}

    .right-example .title {
        font-size: 36px;
    }

    .right-exampler-inner {
        border: 1px solid #ccc; 
        width: 300px; 
        padding: 20px; 
        float: left
    }

.stacked-editor {
    float: left;
}

    .stacked-editor p {
        float:left; 
        width: 520px; 
        text-align:left;
    }

    .stacked-editor pre {
        float: left;
        clear: both;
        width: 520px;
    }   

    .stacked-editor code {
        margin-left: 0;
        width: 520px;
        font-size: 20px;
        padding: 20px;
    }

.book-one { 
    float: left;
    width: 340px;
    font-size: 24px;
    line-height: 1.4;
    margin-right: 20px;
    text-align: left;
}

.book-two { 
    float: left;
    width: 340px;
    font-size: 24px;
    line-height: 1.4;
    text-align: left;
}

.bottom {
    margin: 20px 0 0 0;
    float: left;
    /*border: 2px solid #999;*/
    padding: 20px;
    /*background-color:  white;*/
    width: 850px;
}

.browser {
    /*background-color: white;*/
}

.narrow {
    width: 300px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.container {
    border: 1px solid #ccc;
    padding: 10px;
}

.credit {
    color: #999;
    font-size: 16px;
}

.half {
    width: 460px;
    float: left;
}

    .first {
        margin-right: 20px;
    }

    .half pre,
    .half code {
        width: 420px;
        margin-left: 0;
    }

.article {
    width: 350px; 
    padding: 20px;
    border: 3px solid #ccc;
}

.reveal section pre.single-line-editor {
    margin: 80px 0 40px 150px; 
    width: 660px;
}

.single-line-editor code {
    width: 740px;
}

.reveal section pre.single-line-editor-wide {
    margin: 80px 0 40px 50px;
}


/*********************************************
 * SPEAKER NOTES
 *********************************************/

.annotated .reveal .slides section.small li, .annotated .small {
    font-size: 24px;
}

.annotated .reveal .small img {
    width: 350px;
}

.annotated .special-margin {
    margin-top: 0px !important;
}

.annotated .special-smaller {
    font-size: 1em !important;
}

.annotated .disappear {
    display: none;
}

.notes {
    display: none;
}

.annotated .notes {
    display: block;
}   

    .annotated .notes p {
        text-align: left;
        margin: 0 0 1.25em 0;
        line-height: 1.4;
    }

    .annotated .notes p:last-child {
        text-align: left;
        margin: 0 0 0 0;
        line-height: 1.4;
    }

    .annotated div.notes {
        background-color: #D8D4AF;
        padding: 1.5em;
        margin: 1em 0 0 0;
    }

    .annotated span.notes {
        background-color: #D8D4AF;
        padding: .25em;
    }

.reveal ul.no-bullets {
    list-style-type: none;

}
.reveal ul.no-bullets li {
    margin: 5px 24px;
    font-size: 33px;
    float: left;
}

.reveal strong {
    font-weight: 900;
}

.al {
    text-align:left;
}

.reveal h1.opening {
    margin-top:180px;
}

.logo-tan-bg {
    margin-top: 100px;
    width: 250px;
}

.small-logo-container {
    margin-top: 100px;
    color: #31a995;
}

.reveal section .small-logo-container img {
    width: 250px;
    vertical-align: middle;
    margin-top: 0;
    background-color: #31a995;
}

.copyright {
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 2;
    color: #31a995;
}

.reveal section .standalone-copyright img {
    width: 100px;
}